body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Aboutcontainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 15px;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    /* border-radius: 10px; */
}

hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

p {
    text-align: justify;
}

.right-container {
    margin-bottom: 30px;
}

.right-container h2 {
    color: #333;
}

.right-container hr {
    border-color: #999;
}

.right-container p {
    color: #666;
}

.right-container ol {
    margin-left: 20px;
}

.right-container ol li {
    color: #666;
}

/* Additional container styles */
.blue-container {
    background-color: #cceeff;
}

.green-container {
    background-color: #d9f7be;
}

.purple-container {
    background-color: #e8d5f4;
}